*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'El Messiri', sans-serif;
    background-color: whitesmoke;
}
/* To make label of form , place holder,label ,select right  */

.login-section form{
    direction: rtl;
    text-align: center;
    margin: 10%;
}

/* Adding Margin to Login section button  */

.login-section button{
    width: 100%;
    margin-top: 5%;
      border-radius: 58px 58px 58px 58px;
    -moz-border-radius: 58px 58px 58px 58px;
    -webkit-border-radius: 58px 58px 58px 58px;
    border:2px solid white ;
    background-color: #ffedc9;
    color: black;
    font-weight: 700;
    -ms-border-radius: 58px 58px 58px 58px;
    -o-border-radius: 58px 58px 58px 58px;
}
/* Adding Stlyes to a tag */

.login-section a{
    width: 100%;
    margin-top: 5%;
      border-radius: 58px 58px 58px 58px;
    -moz-border-radius: 58px 58px 58px 58px;
    -webkit-border-radius: 58px 58px 58px 58px;
    border:2px solid white ;
    background-color: #ffedc9;
    color: black;
    font-weight: 700;
    -ms-border-radius: 58px 58px 58px 58px;
    -o-border-radius: 58px 58px 58px 58px;
}

.login-section a:hover{

    border:2px solid  gold;
    background-color: #ffedc9;
    color: black;
  
}



/* To make img full width and height */
.login-section img{
    width: 100%;
    height: 100%;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;

}

/* To make label of form , place holder,label ,select right  */

.login-section form{
    direction: rtl;
    text-align: center;
 
}

 

/* To make margin bottom and top on form  */

.form-group{
    margin-bottom: 1%;
    margin-top: 1%;
}

 
/* To make label  more bolder  */


.form-group label{
    font-weight: 600;
}

/* Adding border radius to form input  */


.form-group input   {
    border-radius: 58px 58px 58px 58px;
    -moz-border-radius: 58px 58px 58px 58px;
    -webkit-border-radius: 58px 58px 58px 58px;
    border:2px solid white ;
    -ms-border-radius: 58px 58px 58px 58px;
    -o-border-radius: 58px 58px 58px 58px;
}
/* Adding Margin Icon  */

.login-section i{
    margin-left: 1rem;
}
 
/* Adding Responsive Items */

@media(max-width:768px) {
    .form-group {
        text-align: center;
    }
  

}

/* Adding Animations */

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
}

    100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
}

    100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
}